/*

@import "importindex.css";
@import url("importindexurl.css");
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


button a{
	text-decoration: none;
	color: #fff;
}

button a:hover{
color: #fff;
text-decoration: none;
}

 #container{
    text-align: center;
}
#searchResult input button{
	margin: 2px;
}	


#areaCode{
	background-color: #1e1d1d;
}

#areaDes{
	background-color: #23292D;
}
.anchorWeb{
	color: #3E7380;
}
.anchorWeb:hover{
	color: #3E7380;
	text-decoration: none;
}

/*boton glossy*/

#insertbtn{
	color: #fff;
}

.button .gray ,#insertbtn {
  background-color: #333;
}

/* .button ,#insertbtn {
  position: relative;
  display: inline-block;
  padding: 0.618rem 1.618rem;
  cursor: pointer;
  color: #FFF;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  background: #434343 none repeat scroll 0% 0%;
  border: 1px solid #242424;
  border-radius: 4px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 rgba(0, 0, 0, 0.5) inset,
    0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
    0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;

  transition: all 0.2s linear 0s;

  text-align: center;
  text-decoration: none;
  margin: 0.618rem;
}
*/
 #insertbtn:hover , #insertbtn:focus, .button:hover,
 .button:focus {
  text-decoration: none;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 rgba(0, 0, 0, 0.25) inset,
    0 20px 0 rgba(255, 255, 255, 0.03) inset,
    0 -20px 20px rgba(0, 0, 0, 0.15) inset,
    0 20px 20px rgba(255, 255, 255, 0.05) inset;
}
 #insertbtn,.button:active {
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0) inset,
    0 0 5px rgba(0, 0, 0, 0.5) inset,
    0 20px 0 rgba(255, 255, 255, 0.03) inset,
    0 -20px 20px rgba(0, 0, 0, 0.15) inset,
    0 20px 20px rgba(255, 255, 255, 0.05) inset;
}

 #insertbtn::before, .button::before {
  content: "";
  display: block;
  position: absolute;
  background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  background:linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  padding: x 12px;
  top: 0;
  left: 15%;
  height: 1px;
  width: 40%;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out 0s;
}
  #insertbtn:active::before , .button:active::before {
  opacity: 0;
}
 
  #insertbtn:hover::before , .button:hover::before {
  left: 45%;
}

/*alreves*/


#insertbtn , #insertbtn,
 .button {
  position: relative;
  padding: 0.618rem 1.618rem;
  cursor: pointer;
  color: #FFF;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  background: #434343 none repeat scroll 0% 0%;
  border: 1px solid #242424;
  border-radius: 4px;
  transition: all 0.2s linear 0s;
  text-align: center;
  text-decoration: none;
  margin: 0.618rem;
  text-decoration: none;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 rgba(0, 0, 0, 0.25) inset,
    0 20px 0 rgba(255, 255, 255, 0.03) inset,
    0 -20px 20px rgba(0, 0, 0, 0.15) inset,
    0 20px 20px rgba(255, 255, 255, 0.05) inset;

}

 #insertbtn:hover , #insertbtn:focus, .button:hover,
 .button:focus{
  position: relative;
  display: inline-block;
  padding: 0.618rem 1.618rem;
  cursor: pointer;
  color: #FFF;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  background: #434343 none repeat scroll 0% 0%;
  border: 1px solid #242424;
  border-radius: 4px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 rgba(0, 0, 0, 0.5) inset,
    0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
    0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;

  transition: all 0.2s linear 0s;

  text-align: center;
  text-decoration: none;
  margin: 0.618rem;
}


