@media only screen and (max-width: 580px) {
    #body {
        background-color: #000;
    }
    #container{
    	width: 100%;
        background-color: #fff;
        }
    #searchInput{
    	width: 100%;
    }
    #container .navbar{
    	padding: 7px;
    }
/*search*/ 

 #searchBtn ,#inserTrigger{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}